    /*background-color: #3daee9; */
    #topWidget
    {
        color: #eff0f1;
        background-color: #3daee9;
        /* selection-background-color:#3daee9; */
        selection-color: #eff0f1;
        background-clip: border;
        border-image: none;
        border: 0px transparent black;
        outline: 0;
    }
   

    #bottomWidget
    {
        border-image: url(:/static/background.jpg);
    }
    

    
    
    QWidget #topWidget >QWidget:hover , TestWidget:hover
    {
        background-color: #18465d;
        color: #eff0f1;
    }

 QWidget:item:hover
 {
     background-color: #18465d;
     color: #eff0f1;
 }
 
  QWidget:item:selected
 {
     background-color: #18465d;
 } 
 
  
 QWidget:disabled
 {
     color: #454545;
     background-color: #31363b;
 }
 
 QAbstractItemView
 {
     alternate-background-color: #31363b;
     color: #eff0f1;
     border: 1px solid 3A3939;
     border-radius: 2px;
 }
 
 QWidget:focus, QMenuBar:focus
 {
     border: 1px solid #3daee9;
 }
 
 QTabWidget:focus, QCheckBox:focus, QRadioButton:focus, QSlider:focus
 {
     border: none;
 }
 
 QLineEdit
 {
     background-color: #232629;
     padding: 5px;
     border-style: solid;
     border: 1px solid #76797C;
     border-radius: 2px;
     color: #eff0f1;
 }
 
 QAbstractItemView QLineEdit
 {
     padding: 0;
 }
 
 QGroupBox {
     border:1px solid #76797C;
     border-radius: 2px;
     margin-top: 20px;
 }
 
 QGroupBox::title {
     subcontrol-origin: margin;
     subcontrol-position: top center;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
 }
 
 QAbstractScrollArea
 {
     border-radius: 2px;
     border: 1px solid #76797C;
     background-color: transparent;
 }
 /* --------------------------------------- QScrollBar  -----------------------------------*/
 QScrollBar:horizontal
 {
     height: 15px;
     margin: 3px 15px 3px 15px;
     border: 1px transparent #2A2929;
     border-radius: 4px;
     background-color: #2A2929;
 }
 
 QScrollBar::handle:horizontal
 {
     background-color: #605F5F;
     min-width: 5px;
     border-radius: 4px;
 }
 
 QScrollBar::add-line:horizontal
 {
     margin: 0px 3px 0px 3px;
     border-image: url(:/qss_icons/rc/right_arrow_disabled.png);
     width: 10px;
     height: 10px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }
 
 QScrollBar::sub-line:horizontal
 {
     margin: 0px 3px 0px 3px;
     border-image: url(:/qss_icons/rc/left_arrow_disabled.png);
     height: 10px;
     width: 10px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }
 
 QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on
 {
     border-image: url(:/qss_icons/rc/right_arrow.png);
     height: 10px;
     width: 10px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }
 
 
 QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on
 {
     border-image: url(:/qss_icons/rc/left_arrow.png);
     height: 10px;
     width: 10px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }
 
 QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
 {
     background: none;
 }
 
 
 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
 {
     background: none;
 }
 
 QScrollBar:vertical
 {
     background-color: #2A2929;
     width: 15px;
     margin: 15px 3px 15px 3px;
     border: 1px transparent #2A2929;
     border-radius: 4px;
 }
 
 QScrollBar::handle:vertical
 {
     background-color: #605F5F;
     min-height: 5px;
     border-radius: 4px;
 }
 
 QScrollBar::sub-line:vertical
 {
     margin: 3px 0px 3px 0px;
     border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
     height: 10px;
     width: 10px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 
 QScrollBar::add-line:vertical
 {
     margin: 3px 0px 3px 0px;
     border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
     height: 10px;
     width: 10px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }
 
 QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
 {
 
     border-image: url(:/qss_icons/rc/up_arrow.png);
     height: 10px;
     width: 10px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 
 
 QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
 {
     border-image: url(:/qss_icons/rc/down_arrow.png);
     height: 10px;
     width: 10px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }
 
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
 {
     background: none;
 }
 
 
 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
 {
     background: none;
 }
 
 QTextEdit
 {
     background-color: #232629;
     color: #eff0f1;
     border: 1px solid #76797C;
 }
 
 QPlainTextEdit
 {
     background-color: #232629;;
     color: #eff0f1;
     border-radius: 2px;
     border: 1px solid #76797C;
 }
 
 QHeaderView::section
 {
     background-color: #76797C;
     color: #eff0f1;
     padding: 5px;
     border: 1px solid #76797C;
 }
 
 QSizeGrip {
     image: url(:/qss_icons/rc/sizegrip.png);
     width: 12px;
     height: 12px;
 }
 
 
 QMainWindow::separator
 {
     background-color: #31363b;
     /* color: white; */
     padding-left: 4px;
     spacing: 2px;
     border: 1px dashed #76797C;
 }
 
 QMainWindow::separator:hover
 {
 
     background-color: #787876;
     color: white;
     padding-left: 4px;
     border: 1px solid #76797C;
     spacing: 2px;
 }
 
 
 QMenu::separator
 {
     height: 1px;
     background-color: #76797C;
     color: white;
     padding-left: 4px;
     margin-left: 10px;
     margin-right: 5px;
 }
 
 
 QFrame
 {
     border-radius: 2px;
     border: 1px solid #76797C;
 }
 
 QFrame[frameShape="0"]
 {
     border-radius: 2px;
     border: 1px transparent #76797C;
 }
 
 QStackedWidget
 {
     border: 1px transparent black;
 }
 
 BaseMenuWidget{

     border:1px solid rgb(17, 66, 116);
 }
 
 QPushButton[M_Action='isTrue']
{
    border:none ; 
    border-radius:0px;
 }
 QPushButton[M_Action='isTrue']:pressed
{
     background-color: #3daee9;
     color: #eff0f1;
 }
 
 /* --------------------------------------- QPushButton  -----------------------------------*/
 QPushButton
 {
     color: #eff0f1;
     border-width: 1px;
     border-color: rgb(220, 225, 230);
     border-style: solid;
     padding: 5px;
     border-radius: 2px;
     outline: none;
 }
 
 QPushButton:disabled
 {
     background-color: #31363b;
     border-width: 1px;
     border-color: #454545;
     border-style: solid;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 2px;
     color: #454545;
 }
 
 QPushButton:focus {
     background-color: #0d354b;
     color: white;
 }
 
 QPushButton:pressed
 {
     background-color: #3daee9;
     padding-top: -15px;
     padding-bottom: -17px;
 }
 
 QPushButton:checked{
     background-color: #287399;
     border-color: #287399;
 }
 

 
 QLabel
 {
     color:white;

 }
 
 QTabWidget{
     border: 0px transparent black;
 }
 
 QTabWidget::pane {
     border: 1px solid #76797C;
     padding: 5px;
     margin: 0px;
 }
 
 QTabWidget::tab-bar {
     left: 5px; /* move to the right by 5px */
 }
 
 
 
 
 QTreeView, QListView
 {
     border: 1px solid #76797C;
     background-color: #232629;
 }
 
 QTreeView:branch:selected, QTreeView:branch:hover
 {
     background: url(:/qss_icons/rc/transparent.png);
 }
 
 QTreeView::branch:has-siblings:!adjoins-item {
     border-image: url(:/qss_icons/rc/transparent.png);
 }
 
 QTreeView::branch:has-siblings:adjoins-item {
     border-image: url(:/qss_icons/rc/transparent.png);
 }
 
 QTreeView::branch:!has-children:!has-siblings:adjoins-item {
     border-image: url(:/qss_icons/rc/transparent.png);
 }
 
 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
     image: url(:/qss_icons/rc/branch_closed.png);
 }
 
 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
     image: url(:/qss_icons/rc/branch_open.png);
 }
 
 QTreeView::branch:has-children:!has-siblings:closed:hover,
 QTreeView::branch:closed:has-children:has-siblings:hover {
     image: url(:/qss_icons/rc/branch_closed-on.png);
     }
 
 QTreeView::branch:open:has-children:!has-siblings:hover,
 QTreeView::branch:open:has-children:has-siblings:hover  {
     image: url(:/qss_icons/rc/branch_open-on.png);
     }
 
 QListView::item:!selected:hover, QTreeView::item:!selected:hover  {
     background: #18465d;
     outline: 0;
     color: #eff0f1
 }
 
 QListView::item:selected:hover, QTreeView::item:selected:hover  {
     background: #287399;
     color: #eff0f1;
 }
 
 QSlider::groove:horizontal {
     border: 1px solid #565a5e;
     height: 4px;
     background: #565a5e;
     margin: 0px;
     border-radius: 2px;
 }
 
 QSlider::handle:horizontal {
     background: #232629;
     border: 1px solid #565a5e;
     width: 16px;
     height: 16px;
     margin: -8px 0;
     border-radius: 9px;
 }
 
 QSlider::groove:vertical {
     border: 1px solid #565a5e;
     width: 4px;
     background: #565a5e;
     margin: 0px;
     border-radius: 3px;
 }
 
 QSlider::handle:vertical {
     background: #232629;
     border: 1px solid #565a5e;
     width: 16px;
     height: 16px;
     margin: 0 -8px;
     border-radius: 9px;
 }
 
 QToolButton {
     background-color: transparent;
     border: 1px transparent #76797C;
     border-radius: 2px;
     margin: 3px;
     padding: 5px;
 }
 
 QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
  padding-right: 20px; /* make way for the popup button */
  border: 1px #76797C;
  border-radius: 5px;
 }
 
 QToolButton[popupMode="2"] { /* only for InstantPopup */
  padding-right: 10px; /* make way for the popup button */
  border: 1px #76797C;
 }
 
 
 QToolButton:hover, QToolButton::menu-button:hover {
     background-color: transparent;
     border: 1px solid #3daee9;
     padding: 5px;
 }
 
 QToolButton:checked, QToolButton:pressed,
         QToolButton::menu-button:pressed {
     background-color: #3daee9;
     border: 1px solid #3daee9;
     padding: 5px;
 }
 
 /* the subcontrol below is used only in the InstantPopup or DelayedPopup mode */
 QToolButton::menu-indicator {
     image: url(:/qss_icons/rc/down_arrow.png);
     top: -7px; left: -2px; /* shift it a bit */
 }
 
 /* the subcontrols below are used only in the MenuButtonPopup mode */
 QToolButton::menu-button {
     border: 1px transparent #76797C;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     /* 16px width + 4px for border = 20px allocated above */
     width: 16px;
     outline: none;
 }
 
 QToolButton::menu-arrow {
     image: url(:/qss_icons/rc/down_arrow.png);
 }
 
 QToolButton::menu-arrow:open {
     border: 1px solid #76797C;
 }
 
 QPushButton::menu-indicator  {
     subcontrol-origin: padding;
     subcontrol-position: bottom right;
     left: 8px;
 }
 


 QTableView
 {
     border: 1px solid rgb(17, 66, 116);
     /* border: 1px solid #76797C; */
     gridline-color:  rgb(17, 66, 116);
     background-color: #232629;
 }
 
 
 QTableView, QHeaderView
 {
     border-radius: 0px;
 }
 
 QTableView::item:pressed, QListView::item:pressed, QTreeView::item:pressed  {
     background: #18465d;
     color: #eff0f1;
 }
 
 QTableView::item:selected:active, QTreeView::item:selected:active, QListView::item:selected:active  {
     background: #287399;
     color: #eff0f1;
 }
 
 
 QHeaderView
 {
     background-color: #31363b;
     border: 1px transparent;
     border-radius: 0px;
     margin: 0px;
     padding: 0px;
 
 }
 
 QHeaderView::section  {
     background-color: #31363b;
     color: #eff0f1;
     padding: 5px;
     border: 1px solid #76797C;
     border-radius: 0px;
     text-align: center;
 }
 
 QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one
 {
     border-top: 1px solid #76797C;
 }
 
 QHeaderView::section::vertical
 {
     border-top: transparent;
 }
 
 QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one
 {
     border-left: 1px solid #76797C;
 }
 
 QHeaderView::section::horizontal
 {
     border-left: transparent;
 }
 
 
 QHeaderView::section:checked
  {
     color: white;
     background-color: #334e5e;
  }
 
  /* style the sort indicator */
 QHeaderView::down-arrow {
     image: url(:/qss_icons/rc/down_arrow.png);
 }
 
 QHeaderView::up-arrow {
     image: url(:/qss_icons/rc/up_arrow.png);
 }
 
 

 QStatusBar::item {
     border: 0px transparent dark;
  }
 
 
 QFrame[height="3"], QFrame[width="3"] {
     background-color: #76797C;
 }
 
 
 QSplitter::handle {
     border: 1px dashed #76797C;
 }
 
 QSplitter::handle:hover {
     background-color: #787876;
     border: 1px solid #76797C;
 }
 
 QSplitter::handle:horizontal {
     width: 1px;
 }
 
 QSplitter::handle:vertical {
     height: 1px;
 }
 
 QProgressBar {
     border: 1px solid #76797C;
     border-radius: 5px;
     text-align: center;
 }
 
 QProgressBar::chunk {
     background-color: #05B8CC;
 }
 
